node_modules
dist
build
.next
.turbo
.env
.env.local
.env.*.local
coverage/
.nyc_output
*.log
*.tgz
*.gz
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
*.swo
.cache
.parcel-cache
.vercel
.netlify
debug-storybook.log
storybook-static
